/* global styles */

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: arial, sans-serif;
}

/* main */

.card {
    width: 300px;
    padding: 40px;
    border: 3px solid rgb(186, 16, 16);
    margin: 50px auto;
    background-color: #f5f5f5;
    color: #222;
}
/* button */

button {
    margin-top: 25px;
    padding: 8px 12px;

}

